
@import "../../node_modules/bootstrap/scss/bootstrap.scss"; 
@import "../../node_modules/bootstrap/scss/reboot"; 
@import "./assets/fonts";
@import "./assets/variables";
body{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif
}

@import "components/header";


